.flex-center{display:flex;justify-content:center;align-items:center}.full-height{min-height:100vh}.text-center{text-align:center}.pointer{cursor:pointer}html{font-family:"Roboto",sans-serif;font-size:16px;line-height:1.4;box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}body{background:#34495e;transition:background .2s ease-in-out}body.agence{background:#ecf0f1}body.agence h1.title{color:#34495e}h1.title{font-size:3.2rem;color:#fff;font-weight:100}h1.title strong{font-weight:300}.wrapper{max-width:1024px;margin-left:auto;margin-right:auto;padding:0 20px}
