// $ sass --watch style.sass:style.css --style compressed --no-cache --sourcemap=none
@import imports/variables
@import imports/helpers

html
  font-family: 'Roboto', sans-serif
  font-size: 16px
  line-height: 1.4
  box-sizing: border-box

*, *:after, *:before
  box-sizing: inherit

body
  background: $bg-blue
  transition: background .2s ease-in-out
  
  &.agence
    background: $soft

    h1.title
      color: $bg-blue

h1.title
  font-size: 3.2rem
  color: $white
  font-weight: 100

  strong
    font-weight: 300

.wrapper
  max-width: 1024px
  margin-left: auto
  margin-right: auto
  padding: 0 20px
